@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: Space Grotesk, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
}
body {
  background-color: black!important;
}

.gradient-text {
  background: linear-gradient(45deg,#f83a3a 10%,#f13dd4 50%,#7000ff 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  --side-padding: 6em;
  --card-border-color: #00000011;
}

:is(html[class~=dark]):root {
  --card-border-color: #cccccc33;
}

@media only screen and (max-width: 900px) {
  :root {
    --side-padding: 1.5em;
  }
}

.depth-wrapper {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-size: contain;
  background-repeat: no-repeat;
}

.codeblock {
  display: block;
  border-radius: 10px;
  border: 1px solid #cccccc33;
  border-radius: 10px;
  background: #282a36;
}

.react-syntax-highlighter-line-number {
  opacity: .2;
}
.codeblock>span {
  border: none;
  border-radius: 0!important;
  background: none!important;
  transform: translateZ(40px) ;
  text-shadow: 4px 4px #00000033, 4px 4px 10px #00000011;
}
.codeblock code {
  font-size: 13px!important;
  line-height: 1;
  padding: 40px!important;
}

.card-border {
  border: 1px solid var(--card-border-color);
}

.elevated {
  transform: translateZ(10px);
}

.floating-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 125px;
  height: 125px;
  background-image: url(/plug.png);
  background-size: 100% 100%;
  transform: translateZ(10px) translateX(40px) translateY(30px);
}

.floating-icon.shrimp {
  background-image: url(/shrimp.png);
}

.floating-icon.fair {
  background-image: url(/fair.png);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.hero {
  animation: fadeIn 2s ease, heroAnimation 4s cubic-bezier(0.08, 0.82, 0.17, 1.21);
  min-height: 75vh;
}

.fadeIn {
  animation: fadeIn 3s ease;
}

@keyframes heroAnimation {
	0% {
		transform: scale(.9);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0%, 10% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.gamba-main-button {
  --border-size: -2px;
  --border-radius: 40px;
  position: relative;
  padding: 15px 30px;
  font-weight: bold;
  border: none;
  font-size: 16px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.gamba-main-button > span {
  display: block;
  transform: scale(1);
  transition: all .25s ease;
}

.gamba-main-button:hover > span {
  transform: scale(1.02);
}

:is(html[class~=dark] .gamba-main-button) {
  background: rgba(17,17,17,.95);
}

.gamba-main-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  filter: blur(70px);
  transform: scale(2, 1.5);
  background: linear-gradient(45deg,#f83a3a 10%,#f13dd4 50%,#7000ff 90%);
	background-size: 200% 200%;
	animation: gradient 5s ease infinite;
  transition: all 1s ease;
  opacity:.8;
}

.gamba-main-button:hover::before {
  filter: blur(70px);
  opacity: 1;
}

.gamba-main-button::after {
  content: '';
  position: absolute;
  top: var(--border-size);
  left: var(--border-size);
  right: var(--border-size);
  bottom: var(--border-size);
  background: linear-gradient(45deg,#f83a3a 10%,#f13dd4 50%,#7000ff 90%);
	background-size: 200% 200%;
  z-index: -1;
  border-radius: var(--border-radius);
	animation: gradient 5s ease infinite;
}

footer {
  background-color: transparent!important;
}

.hero {
  position: relative;
}

.hero > div {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

video#hero-video {
  background: black;
  max-width: 800px;
  position: relative;
  max-width: 100%;
  /* position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%; */
  z-index: -10;
}

.card-text {
  background: #00000055;
  border-radius: 50px;
  display: inline-block;
  padding: 1px 10px;
}
