@keyframes selected-animation {
  0%, 100% {
    transform: scale(1);
    background: #764cc4;
    box-shadow: 0 0 1px 1px #ffffff00;
  }
  50% {
    transform: scale(1.1);
    background: #945ef7;
    box-shadow: 0 0 1px 1px #ffffff99;
  }
}

@keyframes gold-reveal {
  0% {
    color: white;
    background: #ffffff;
    transform: scale(1.1);
  }
  75% {
    color: #005822;
    background: #3fff7a;
    transform: scale(1.2);
  }
}

@keyframes mine-reveal {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  51% {
    background: #ffffff;
    transform: scale(1.6);
  }
}

@keyframes reset-button-shine {
  0%, 100% {
    color: white;
  }
  50% {
    color: #ff0066;
  }
}

@keyframes hover-pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.statusBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.statusBar > div:first-child {
  display: flex;
  color: #ffffffCC;
  gap: 20px;
}

button.reset {
  color: #ff0066;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  animation: reset-button-shine 1s infinite;
  cursor: pointer;
}

button.reset:disabled {
  color: #cccccc99!important;
  cursor: default;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  user-select: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.cell {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #eee;
  border: none;
  border-bottom: 4px solid #00000033;
  border-radius: 4px;
  font-weight: bold;
  aspect-ratio: 1;
  width: 50px;
  transition: background 0.3s, opacity .3s;
  font-size: 12px;
  cursor: pointer;
}

.cell[data-status="hidden"] {
  background: #573c89;
}

.cell[data-status="hidden"]:disabled {
  opacity: .5;
}

.cell[data-status="gold"] {
  color: #005822;
  background: #3fff7a;
  animation: gold-reveal .5s ease;
}

.cell[data-selected="true"] {
  animation: selected-animation .5s ease infinite;
  z-index: 10;
  opacity: 1!important;
}

.cell[data-status="mine"] {
  background: #ff5252;
  animation: mine-reveal .3s ease;
  z-index: 10;
}

.cell:disabled {
  cursor: default;
}

.cell:hover:not(:disabled) {
  background: #764cc4;
  animation: hover-pulse .5s ease infinite;
}

.levels {
  border-radius: 5px;
  color: gray;
  background: #292a307d;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.levels > div {
  margin: 0 auto;
  width: 25%;
  text-align: center;
  padding: 5px 0;
  opacity: .5;
}

.levels > div > div:first-child {
  font-size: 60%;
  color: gray;
}

.levels > div:first-child {
  background: #FFFFFF11;
  background: 2px 0px 10px #00000033;
  color: #32cd5e;
  opacity: 1;
}
