.container {
  color: white;
  user-select: none;
}

.rollUnder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  margin-bottom: 20px;
  & > div:first-child {
    font-weight: bold;
    font-size: 30px;
  }
  & > div:last-child {
    font-size: 12px;
    opacity: .8;
  }
}

.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  color: white;
  background: #32294333;
  border-radius: 50px;
  width: 300px;
  max-width: 100%;
  padding: 5px;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    word-wrap: nowrap;
    & > div {
      padding: 5px;
    }
    & > div:last-child {
      opacity: .8;
      font-size: 12px;
    }
    & > div:first-child {
      font-weight: bold;
    }
  }
}

.sliderContainer {
  position: relative;
  width: 100%;
  padding: 50px 0;
}

.label {
  margin-top: 10px;
  position: absolute;
  transform: translateX(-50%);
  text-align: center;
  background: #32294333;
  padding: 5px;
  border-radius: 10px;
  min-width: 30px;
}

.slider {
  background: #322943;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 0 0px 2px #32294333;
  transition: box-shadow .2s ease;
  cursor: pointer;

  &:not([aria-disabled="true"]) {
    &:hover {
      box-shadow: 0 0 0px 11px #32294355;
    }
  }

  &[aria-disabled="true"] {
    opacity: .7;
    cursor: default;
  }

  & > div {
    background: #a079ff;
    height: 100%;
    border-radius: 10px 0 0 10px;
  }
}

@keyframes result-appear {
  from {
    transform: scale(0) translateX(-50%);
  }
  to {
    transform: scale(1) translateX(-50%);
  }
}

.result {
  transform: scale(1) translateX(-50%);
  transform-origin: bottom;
  position: absolute;
  top: -5px;
  transition: left .25 cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation: result-appear .25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  & > div {
    background: #ffffffCC;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 50px;
    text-align: center;
    color: black;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px 10px 0px 10px;
      border-style: solid;
      border-color: #ffffffCC transparent transparent transparent;
    }
  }
}
