@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.banner {
  background-image: linear-gradient(0deg, var(--bg-color) 0%, #04051700 110%), url(/banner.png);
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  min-height: 100vh;
  max-height: -webkit-fill-available;
  transition: min-height .25s ease;
  animation: fade-in .5s;
  display: flex;
  flex-direction: column-reverse;
}

.banner h1 {
  font-size: 42px;
}

@media (min-height: 460px) {
  .banner {
    min-height: 60vh;
  }
}

@media (min-height: 800px) {
  .banner {
    min-height: min(50vh, 420px);
  }
}
