.container {
  display: grid;
  gap: 10px;
}

.play {
  padding: 10px;
  display: flex;
  width: 100%;
  gap: 5px;
  grid-template-columns: auto;
  text-align: left;
  background: #13151c;
  min-height: 40px;
  align-items: center;
  justify-content: space-between;
  color: white;
  border: 1px solid #00000033;
  border-radius: 5px;
  border-bottom: 1px solid #00000033;
  transition: background .1s;
  text-decoration: none;
}

.play:hover {
  background: #1a1c24;
}

.play > div {
  display: flex;
  gap: 10px;
}

.who {
  color: #a079ff;
}

.amount {
  &.win {
    color: #58ff8a;
  }
}

.flares {
  display: flex;
  letter-spacing: .5em;
}
