.container {
  display: grid;
  gap: 10px;
}

.play {
  padding: 10px;
  display: flex;
  width: 100%;
  gap: 5px;
  grid-template-columns: auto;
  text-align: left;
  background: var(--recent-plays-bg);
  min-height: 40px;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  border-radius: 10px;
  text-decoration: none;
}

.play:hover {
  background: var(--recent-plays-bg-hover);
}

.play > div {
  display: flex;
  gap: 10px;
}

.who {
  color: #a079ff;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.amount.win {
  color: #58ff8a;
}

.flares {
  display: flex;
  letter-spacing: .5em;
}

@keyframes gradient {
	0%, 100% {
    background-color: #cccccc11;
	}
	50% {
    background-color: #cccccc22;
	}
}

.skeleton {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  animation: gradient 1s infinite;
}
