.thing {
  --rank-color-0: #ff293b;
  --rank-color-1: #ff7142;
  --rank-color-2: #ffa557;
  --rank-color-3: #ffa557;
  --rank-color-4: #ffd166;
  --rank-color-5: #fff875;
  --rank-color-6: #e1ff80;
  --rank-color-7: #60ff9b;
  background-color: var(--slate-2);
}

.thing.active {
  background-color: var(--slate-8);
}
