@keyframes result-flash {
  from { background-color: white;}
  to { background-color: #292a307d;}
}

.wrapper {
  border-radius: 10px;
  background: #191c2fa1;
  margin: 0 auto;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
  display: flex;
}

.result {
  display: flex;
  padding: 10px;
  width: 40px;
  justify-content: center;
}

.result[data-color="red"] {
  color: #ff0066;
}

.result[data-color="black"] {
  color: #cbffad;
  align-items: end;
}

.result:first-child {
  height: 50px;
  font-size: 24px;
  align-items: center;
  width: 60px;
  justify-content: center;
  background: #FFFFFF11;
  animation: result-flash 1s;
}
