.container {
  perspective: 100px;
  user-select: none;
}

.container > div {
  display: grid;
  gap: 20px;
  transform: rotateX(3deg) rotateY(0deg);
}

@keyframes pulse {
  0%, 30% {
    transform: scale(1)
  }
  10% {
    transform: scale(1.3)
  }
}

@keyframes reveal-glow {
  0%, 30% {
    border-color: #2d2d57;
    background: #ffffff00;
  }
  10% {
    border-color: white;
    background: #ffffff33;
  }
}

@keyframes shine {
  0%, 30% {
    background: #ffffff00;
  }
  10% {
    background: #ffffff33;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(1.2) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
}

@keyframes result-flash {
  25%, 75% {
    background-color: #ffec63;
    color: #333;
  }
  50% {
    background-color: #ffec6311;
    color: #ffec63;
  }
}

.result {
  border: none;
  padding: 10px;
  text-transform: uppercase;
  position: relative;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border-spacing: 10px;
  border: 1px solid #ffec63;
  background-color: #ffec6311;
  color: #ffec63;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.result[data-good="true"] {
  animation: result-flash 5s infinite;
}

.slots {
  display: flex;
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.slot {
  width: 100px;
  aspect-ratio: 1/1.5;
  position: relative;
  background: #4444FF11;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #2d2d57;
  pointer-events: none;
  transition: background .2s, border .2s, box-shadow .2s;
}

.slot[data-good="true"] {
  animation: reveal-glow 1s;
}

.slot::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

@keyframes reveal {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.revealedSlot {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
  transition: opacity .2s, transform .3s ease;
  transform: translateY(-100%);
  opacity: 0;
}

.revealedSlot[data-revealed="true"] {
  opacity: 1;
  transform: translateY(0%);
  animation: reveal cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s;
}

.revealedSlot[data-good="true"] .slotImage {
  animation: pulse 2s .25s cubic-bezier(0.04, 1.14, 0.48, 1.63) infinite;
}

.slotImage {
  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
}
