.wrapper {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background: #000000CC;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

@media (min-height: 800px) {
  .wrapper {
    padding: 10px 20px;
  }
}

.wrapper > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.logo {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1em;
  transition: background .2s;
  white-space: nowrap;
  border-radius: 5px;
  padding: 5px 10px;
}

.logo:hover {
  background: #ffffff11;
}

.logo > img {
  height: 30px;
}

.title {
  display: none;
  @media (min-width: 800px) {
    display: block;
  }
}
