#root, html, body {
  height: 100%;
}

:root {
  --text-color: #ffffff;
  --bg-color: #080809;
  /* --bg-color: #0e0e15; */
}

html, body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

button {
  user-select: none;
}

body {
  margin: 0;
  color: var(--text-color);
  background: var(--bg-color);
  cursor: default;
  overflow-y: auto;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #2424ff44;
}

body::-webkit-scrollbar {
  width: .4em;
}

body::-webkit-scrollbar-thumb {
  bg-color: #cccccc33;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 700;
}

body, input, button, textarea, pre {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
}

a:not([href^="https://"]):not([href^="http://"]) {
  text-decoration: none;
}

a {
  color: unset;
}
