:root {
  --card-aspect-ratio: 2 / 1.3;
}

@keyframes tile-animation {
  0% {
    background-position: -100px 200px;
  }
  100% {
    background-position: 100px -200px;
  }
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  transition: transform .2s ease;
  transform: scale(.99);
}

.card {
  position: relative;
  background: #ffffff;
  transform: scale(1);
  cursor: pointer;
  border-radius: 10px;
  aspect-ratio: var(--card-aspect-ratio);
  width: 160px;
  transition: width .25s ease, transform .2s ease, aspect-ratio .2s ease;
  max-height: 100%;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}

@media (min-width: 900px) {
  .card {
    width: 180px;
  }
}

.card:hover {
  outline: var(--text-color) solid 1px;
  outline-offset: 2px;
  transform: translateY(-2px)
}

.card:hover .logo {
  transform: scale(1.1) translateY(-2px);
}

.card:hover .background {
  opacity: 1;
  transform: scale(1.1);
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100px;
  background-position: center;
  background-image: url(/game.svg);
  transition: transform .2s ease, opacity .3s;
  animation: tile-animation 10s linear infinite;
  opacity: 0;
}
