.wrapper {
  width: 100%;
  z-index: 10001;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}

@media (min-height: 800px) {
  .wrapper {
    background: #000000CC;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 10px 20px;
  }
}

.wrapper > div {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 1em;
  transition: background .2s;
  border-radius: 5px;
  white-space: nowrap;
  padding: 0px 5px;
  filter: drop-shadow(-1px 1px 1px #00000033)
}

.logo:hover {
  background: #ffffff11;
}

.logo > img {
  height: 35px;
}

.externalLinks {
  gap: 20px;
  display: flex;
  visibility: hidden;
}

.externalLinks > a {
  text-decoration: none;
  color: #ffffffcc;
}

.externalLinks > a:hover {
  color: #ffffffff;
}

@media (min-width: 800px) {
  .externalLinks {
    visibility: visible;
  }
}
