.section {
  width: 100%;
  max-width: 100%;
  transition: width .25s ease padding .25s ease;
  padding: 20px 10px;
  margin: 0 auto;
}

@media (min-width: 460px) {
  .section {
    padding: 20px;
    width: 800px;
  }
}

@media (min-width: 1280px) {
  .section {
    width: 960px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header > .arrows {
  display: flex;
}

.slideContent {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  width: 100%;
  overflow: scroll visible;
  scroll-snap-type: x mandatory;
  transition: height .25s ease;
}

.slideContent::-webkit-scrollbar {
  height: .33em;
}

.slideContent::-webkit-scrollbar-thumb {
  background-color: #cccccc33;
}

.slideContent > * {
  scroll-snap-align: start;
}

.sliderArrows {
  width: 80px;
  display: flex;
}

.sliderArrows > * {
  flex-grow: 1;
}
